<html>
  <head>
    <title>Add Comment</title>
  </head>
  <body>
    <div>
      <h3>Add a Comment</h3>
    </div>
    <div>
      <form action="/dish/<%=id%>/add-comment" method="post">
        <label>Name:</label>
        <input name="name" type="text" required />
        <br />
        <label>Comment:</label>
        <input name="comment" type="text" required />
        <br />
        <label>Rating:</label>
        <input name="rating" type="number" required min="0" max="5" />
        <br />
        <button type="submit">submit</button>
      </form>
    </div>
    <%- include("footer") %>
  </body>
</html>
