<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <h3>Welcome to nodejs training!!</h3>
            <a href='/list'>List Dishes</a>
        </div>
    </body>
</html>