<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <script>console.log(data)</script>
    <div>
      <p
        style="display: flex; align-items: center; justify-content: space-around;"
      >
        Hello World
      </p>
      <ul>
        <li>
          <a href="/list"><p>List</p></a>
        </li>
      </ul>
    </div>
  </body>
</html>
